out/
.vs/
bin/1.264
bin/5g.264
bin/DesignMode.exe
bin/DesignMode.ilk
bin/DesignMode.pdb
bin/FFmpegGpu.exe
bin/FFmpegGpu.ilk
bin/FFmpegGpu.pdb
bin/GpuCmd.7z
bin/GpuCmd.exe
bin/GpuCmd.ilk
bin/GpuCmd.pdb
bin/main.log
bin/network.exe
bin/network.ilk
bin/network.pdb
bin/TemplateProject.exe
bin/TemplateProject.ilk
bin/TemplateProject.pdb
bin/Test.ilk
bin/Test.pdb
bin/GpuCmd/GpuCmd.ilk
bin/GpuCmd/GpuCmd.pdb
bin/GpuCmd/main.log
bin/test_avapi32/test_avapi32.exe
bin/test_avapi32/test_avapi32.ilk
bin/test_avapi32/test_avapi32.pdb
bin/test_avapi64/test_avapi64.exe
bin/test_avapi64/test_avapi64.ilk
bin/test_avapi64/test_avapi64.pdb
bin/test_avapi64/TestSuite.exe
bin/test_avapi64/TestSuite.iobj
bin/test_avapi64/TestSuite.ipdb
bin/x64/Test.exe
bin/x64/Test.ilk
bin/x64/Test.pdb
bin/x64/player_ffmpeg_qt_gpu/player_ffmpeg_qt_gpu.exe
bin/x64/player_ffmpeg_qt_gpu/player_ffmpeg_qt_gpu.ilk
bin/x64/player_ffmpeg_qt_gpu/player_ffmpeg_qt_gpu.pdb
